html, body {
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    font-family: sans-serif;
    color: lightslategray;
}

.hidden {
    display: none;
}

.modhu {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

main {
    margin: 0 auto;
    width: 60vw;
    padding-bottom: 10vh;
}

.gradient {
    background: -webkit-linear-gradient(left, #3379CC, #4A4AA3);
    background: -o-linear-gradient(right, #3379CC, #4A4AA3);
    background: -moz-linear-gradient(right, #3379CC, #4A4AA3);
    background: linear-gradient(to right, #3379CC, #4A4AA3); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient2 {
    background: -webkit-linear-gradient(left, #3379CC, lightgreen);
    background: -o-linear-gradient(right, #3379CC, lightgreen);
    background: -moz-linear-gradient(right, #3379CC, lightgreen);
    background: linear-gradient(to right, #3379CC, lightgreen); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    text-align: center;
    font-size: 5em;
}


#join {
    text-align: center;
    font-size: 2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 200px;
    flex-direction: column;
}

input[type='text'], input[type='email'], input[type='tel'] {
    margin-bottom: 5px;
    height: 2em;
    border: 0;
    border-bottom: 1px gray solid;
}

input[type='text']:focus, input[type='email']:focus, input[type='tel']:focus {
    outline: none;
    /* padding: 5px; */
    border-bottom: 2px slateblue solid;
}

button[type='submit'] {
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    background: -webkit-linear-gradient(left, #3379CC, lightgreen);
    background: -o-linear-gradient(right, #3379CC, lightgreen);
    background: -moz-linear-gradient(right, #3379CC, lightgreen);
    background: linear-gradient(to right, #3379CC, lightgreen); 
    padding: 10px;
    color: white;
    /* font-weight: 900; */
    font-size: 1.2em;
}

#first {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-size: 1.5em;
    margin-top: 50px;
}

#second {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-size: 1.5em;
    margin-top: 50px;
}

#third {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-size: 1.5em;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(254, 255, 177);
    width: 100vw;
}

#left-footer, #right-footer {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    padding: 10vh;
}

#left-footer > *, #right-footer > * {
    margin: 4px 0;
}

#right-footer > * {
    color: rgb(85, 85, 85);
}

@media (max-width: 768px) {
    main {
        width: 90vw;
    }
    footer {
        display: flex;
        flex-direction: column;
    }

    html, body {
        margin-top: 10px;
    }

    h1 {
        font-size: 3em;
    }
}